@charset "UTF-8";

@font-face {
    font-family:'Gta';
    src: url('Fontes/pricedown/Pricedown\ Bl.otf') format('opentype');
    font-weight: normal;
}



body {
    font-family: Arial, sans-serif;
    margin:0px;
    background-color: black;
    background-image: url('imagens/Pôr\ do\ Sol\ Neon\ em\ Vice\ City\ 2.png');
    background-repeat: no-repeat;
    background-size: contain;

}

header {
    font-family: 'Gta', sans-serif;
    font-size: 2em;
    background-color: black;
    color: white;
    text-align: center;
    margin: 430px 0  0 0;
    padding:0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

h2 {font-family: 'Gta', sans-serif;
    color: #fefcfc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
    text-align: center;
    margin: 20px;
}

p {
    max-width: 800px;
    line-height: 1.6;
    color: #ccc;
    text-align: justify;
    margin: auto;
    margin-bottom: 20px;


}

footer {
    background-image: linear-gradient(to bottom, #1a24dc, #a612ab);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: auto;
    font-size: 0.9em;
    text-align: center;
}